.fixedHeader {
  display:flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.titulo{
 font-size: clamp(1.9rem, 3.8vw, 2.6rem);
}



.content {
  padding-top: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
}
