.fixedHeader {
  display:flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

.titulo{
  font-size: 3vw;
}



.content {
  padding-top: 40px;
  margin-left: 5vw;
  margin-right: 5vw;
}
