html {
    font-size: clamp(5px, 10vw, 8px);
}

.oculto {
    display: none;
}


body {
    padding: 2rem;
    background: #5171e5;
    font-family: "Baloo Thambi 2", system-ui;
    margin: 0px;
}

.pagina {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.content {
    position:relative;
    place-items: center;
    width: 92vw;
    max-width: 42rem;
    padding: 2rem;
    border-radius: 2rem;
}

@media (min-width: 768px) {
    .content {
        width: 85vw;
        max-width: 50rem;
    }
}

@media (min-width: 1024px) {
    .content {
        width: 80vw;
        max-width: 70rem;
    }
}


.editor {
    display: none;
    padding-bottom: 3%;
        margin-top: 3%;
}


#segurancaEditor {
    display:none;
    background: #99cd5c;
    padding: 2vw;
    width: clamp(20rem,40vw,30rem);
    border-radius: 2vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#senhaEditor p {
    color: red;
    display: none;
}

#senhaEditor h3 {
    z-index: 200;
    color: #247f9b;
    font-family: "Exo 2", sans-serif;
    font-size: clamp(1rem,10vw,3rem);

}



#caixa_texto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textoDigitado {
    width: 100%;
    height: 250px;

}



#caixa_seccao {
    z-index: 100;
    background: #f2f4f5;
    border: 5px solid #b1e384;
    padding: 3%;
    /* width: 60%;
    height: 40%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}


#ferramentas {
    z-index: 10;
    padding: clamp(1.5rem,5vw,3rem);
    margin-left: 0;
    background: #ede9ed;
    width: clamp(30rem, 70vw, 60rem);
    border: 3px solid #405cbf;
    border-radius: 2rem;
}

#usuario {
    z-index: 1;
    height: 250px;
    margin-top: 3vh;
    background: #ddcc3d;      /* amarelo antigo */
    gap: 2vh;
}


header h1 {
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    color: #20698d;
    font-weight: 400;
}
/* 
p {
    display: flex;
    color: black;
    font-size: clamp(1rem, 5vw, 2rem);
    justify-content: end;
} */

#identidade {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}


#identidade img {
    border-radius: 5vw;
    max-width: clamp(5rem,25vw,9rem);
    height: auto;
}

span {
        font-size: clamp(0.5rem,2vw,2.2rem);
}

#pagina-1 {
    display: none;
    padding: 5%;
    justify-content: center;
    justify-items: center;
    font-family: "Exo 2", sans-serif;


}

.editorbuttons {
    background: none;
    border: none;
    cursor: pointer;
}

.imgbuttons {
    width: 80%;
}



.img-principal {
    padding-left: 5vh;
    width: 40vh;
    height: auto;
}




/* outras config */
#titulo-caixa {
    
}
