body {
    background: #e5cc51;
    font-family: "Baloo Thambi 2", system-ui;
    margin-top: 2%;
    margin-bottom: 1%; 
    margin-left: 3%;
    margin-right: 3%;
} 


.editor {
    display: flex;
    padding-bottom: 3%; 
}

#senhaEditor {
 display: none;
}

#senhaEditor  p {
color: red; 
display: none;
}

#caixa_texto {
    position: fixed; 
    top: 50%;
     left:50%; 
    transform: translate(-50%,-50% );
}

#textoDigitado {
    width:150%;
    height: 250px;

}
 
#caixa_texto {
    display:none;
}

#caixa_seccao {
display: none;
}

#caixa_seccao {
background: #f2f4f5;
     border: 10px solid #b1e384;
     padding:3%;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
}

#capa {
    display: flex;
    position: fixed;
    transform: translate(45%,40%);
    background: #67893b;
    justify-content: center;
    padding: 3vw;
    border-radius: 3ch;
    max-width: 50vw;
}


#element-1 {
    padding-right: 2vw;
}

#element-2  img{
    border-radius: 2vw;
}

header {
     font-size: 5vh;
    color: #0d5695;
    font-weight: 400;
}

p {
    display: flex;
    color:black;
    font-size: 2.5svh;
    justify-content: end;
    }


#pagina-1 {
display: none;
   padding:5%;
    justify-content: center;
    justify-items: center;
    font-family: "Exo 2", sans-serif;
   
   
}

button {
background: none;
border: none;
cursor: pointer;
}

.imgbuttons {
    width:80%;
}



.img-principal {
   padding-left: 5vh;
    width: 40vh;
    height: auto;
}



