body {
    background: #f2f4f5;
    font-family: "Baloo Thambi 2", system-ui;
    margin-top: 2%;
    margin-bottom: 1%; 
    margin-left: 3%;
    margin-right: 3%;
}



.editor textarea{
    width:100%;
    height: 100px;
      position: fixed; 
      
}


.introducao {
    display: flex;
   padding:5%;
    justify-content: center;
    justify-items: center;
    font-size: 230%;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    
}

button {
    padding:10px;
}

.introducao p {
    display: flex;
    font-size: 50%;
    justify-content: end;
    }

.img-principal {
   padding-left: 3%;
    width: 400px; /* Define uma largura para garantir a visibilidade */
    height: auto;
}

/* .desevopl-1 {
    background: #93f158;
    display:flex;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
}

.textos {
    max-width: 80%;
} */


