body {
    background: #5171e5;
    font-family: "Baloo Thambi 2", system-ui;
    margin-top: 2%;
    margin-bottom: 1%; 
    margin-left: 3%;
    margin-right: 3%;
} 


.editor {
    display: none;
    padding-bottom: 3%; 
}

#segurancaEditor {
 display: none;
}

#segurancaEditor {
    background: #99cd5c;
    padding: 2vw;
    border-radius: 2vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#senhaEditor  p {
color: red; 
display: none;
}

#senhaEditor  h3 {
    color:#247f9b;
    font-family: "Exo 2", sans-serif;
    
}

#caixa_texto {
    position: fixed; 
    top: 50%;
     left:50%; 
    transform: translate(-50%,-50% );
}

#textoDigitado {
    width:150%;
    height: 250px;

}
 
#caixa_texto {
    display:none;
}

#caixa_seccao {
display: none;
}

#caixa_seccao {
background: #f2f4f5;
     border: 10px solid #b1e384;
     padding:3%;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
}

#usuario {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #ddcc3d;
    justify-content: center;
    padding: 3vw;
    border-radius: 3ch;
 max-width: clamp(10rem,60vw,50rem);
}


#element-1 {
    padding-right: 2vw;
}

#element-2  img{
    border-radius: 2vw;
}

header {
     font-size: 5vh;
    color: #20698d;
    font-weight: 400;
}

p {
    display: flex;
    color:black;
    font-size: 2.5svh;
    justify-content: end;
    }


#pagina-1 {
display: none;
   padding:5%;
    justify-content: center;
    justify-items: center;
    font-family: "Exo 2", sans-serif;
   
   
}

button {
background: none;
border: none;
cursor: pointer;
}

.imgbuttons {
    width:80%;
}



.img-principal {
   padding-left: 5vh;
    width: 40vh;
    height: auto;
}



