body {
    background: #7c51e5;
    font-family: "Baloo Thambi 2", system-ui;
    margin-top: 2%;
    margin-bottom: 1%; 
    margin-left: 3%;
    margin-right: 3%;
} 


.editor {
    display: flex;
    padding-bottom: 3%; 
}

#caixa_texto {
    position: fixed; 
    top: 50%;
     left:50%;
    transform: translate(-50%,-50%);
}

#textoDigitado {
    width:150%;
    height: 250px;

}

#caixa_texto {
    display:none;
}

#caixa_seccao {
display: none;
}

#caixa_seccao {
background: #f2f4f5;
     border: 10px solid #b1e384;
     padding:3%;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
}

#capa {
    background:#8dcf07;
}

#pagina-1 {
display: none;
   padding:5%;
    justify-content: center;
    justify-items: center;
    font-family: "Exo 2", sans-serif;
   
   
}


header {
     font-size: 5vh;
         color: #ffdc33;
    font-weight: 400;

}

#pagina-1 p {
    display: flex;
    color:#8dcf07;
    font-size: 2.5svh;
    justify-content: end;
    }

button {
background: none;
border: none;
cursor: pointer;
}

.imgbuttons {
    width:80%;
}



.img-principal {
   padding-left: 5vh;
    width: 40vh;
    height: auto;
}



