html {
    font-size: clamp(5px, 10vw, 8px);
}

body {
    display: flex;
    justify-content:center;
    align-items: center;
    background: #5171e5;
    font-family: "Baloo Thambi 2", system-ui;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
}


.editor {
    display: none;
    padding-bottom: 3%;
        margin-top: 3%;
}

#segurancaEditor {
    display: none;
}

#segurancaEditor {
    background: #99cd5c;
    padding: 2vw;
    width: clamp(20rem,40vw,30rem);
    border-radius: 2vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#senhaEditor p {
    color: red;
    display: none;
}

#senhaEditor h3 {
    color: #247f9b;
    font-family: "Exo 2", sans-serif;
    font-size: clamp(1rem,10vw,3rem);

}



#caixa_texto {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textoDigitado {
    width: 150%;
    height: 250px;

}

#caixa_texto {
    display: none;
}

#caixa_seccao {
    display: none;
}

#caixa_seccao {
    background: #f2f4f5;
    border: 10px solid #b1e384;
    padding: 3%;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#ferramentas {
    display: none;
}

#ferramentas {
display: block;
    padding: 0.5%;
    margin-left: 0;
    background: #ede9ed;
    width: clamp(30rem, 70vw, 60rem);
    border: 3px solid #405cbf;
    border-radius: 24rem;
}

#usuario {
    margin-top: 3vh;
    background: #ddcc3d;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: clamp(0.5rem,3vw,1.2rem);
    border-radius: 2rem;
    width: clamp(40rem,90vw,60rem);
}


header {
font-size: clamp(2rem, 5vw, 3rem);
    color: #20698d;
    font-weight: 400;
}

p {
    display: flex;
    color: black;
    font-size: clamp(1rem, 5vw, 2rem);
    justify-content: end;
}

#identidade img {
    border-radius: 5vw;
    max-width: clamp(5rem,25vw,9rem);
    height: auto;
}

span {
        font-size: clamp(0.5rem,2vw,2.2rem);
}

#pagina-1 {
    display: none;
    padding: 5%;
    justify-content: center;
    justify-items: center;
    font-family: "Exo 2", sans-serif;


}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.imgbuttons {
    width: 80%;
}



.img-principal {
    padding-left: 5vh;
    width: 40vh;
    height: auto;
}

