body {
    background: #7c51e5;
    font-family: "Baloo Thambi 2", system-ui;
    margin-top: 2%;
    margin-bottom: 1%; 
    margin-left: 3%;
    margin-right: 3%;
}


.editor {
    display: flex;
    padding-bottom: 3%; 
}

#caixa_texto {
    position: fixed; 
    top: 50%;
     left:50%;
    transform: translate(-50%,-50%);
}

#textoDigitado {
    width:150%;
    height: 250px;

}

#caixa_texto {
    display:none;
}

#caixa_seccao {
display: none;
}

#caixa_seccao {
background: #f2f4f5;
     border: 10px solid #b1e384;
     padding:3%;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
}
 
#entrada {
    background: #ffa36d;
    display: flex;
    justify-content: center;

}

.usuario {
display: none;
}

.usuario {
   padding:5%;
    justify-content: center;
    justify-items: center;
    font-family: "Exo 2", sans-serif;
   
    
}

.usuario div {
     font-size: 150%;
    font-weight: 400;

}

button {
background: none;
border: none;
cursor: pointer;
}

.imgbuttons {
    width:80%;
}

header {
    color:#3964ff;
}

.usuario p {
    display: flex;
    font-size: 40%;
    justify-content: end;
    }

.img-principal {
   padding-left: 3%;
   padding-top: 20%;
    width: 110%; /* Define uma largura para garantir a visibilidade */
    height: auto;
}



