body {
    background: #f2f4f5;
    font-family: "Baloo Thambi 2", system-ui;
    margin-top: 2%;
    margin-bottom: 1%; 
    margin-left: 3%;
    margin-right: 3%;
}


.editor {
    display: flex;
    padding-bottom: 3%; 
}

#caixa_texto {
    position: fixed; 
    top: 50%;
     left:50%;
    transform: translate(-50%,-50%);
}

#textoDigitado {
    width:150%;
    height: 250px;
     border: 5px solid #b1e384;
}

#caixa_texto {
    display:none;
}

#caixa_seccao {
background: #f3ffe9;
border: 4% #b1e384;
justify-content: center;
justify-content: center;
    display: block;
    width: 60%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: fixed;
    border: 300px blue;
}

#caixa_seccao {
display: none;
}

.introducao {
    display: flex;
   padding:5%;
    justify-content: center;
    justify-items: center;
    font-family: "Exo 2", sans-serif;
   
    
}

.introducao div {
     font-size: 150%;
    font-weight: 400;

}

button {
background: none;
border: none;
cursor: pointer;
}

img {
    width:50%;
}

header {
    color:#3964ff;
}

.introducao p {
    display: flex;
    font-size: 40%;
    justify-content: end;
    }

.img-principal {
   padding-left: 3%;
   padding-top: 20%;
    width: 110%; /* Define uma largura para garantir a visibilidade */
    height: auto;
}

/* .desevopl-1 {
    background: #93f158;
    display:flex;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
    justify-content: center;
}

.textos {
    max-width: 80%;
} */


